{% extends 'SklepBundle:Glowny:index.html.twig' %}
    {% block tytul %}Zakupione filmy{% endblock %}
    {% block duzyTytul %}Zakupione filmy{% endblock %}
    {% block malyTytul %}Moje filmy{% endblock %}
{% block body -%}

{% if entities|length %}
    {% for entity in entities %}
        {{ dump(entity) }}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-5 column">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8"></iframe>
                </div>
            </div>
            <div class="col-md-7 column">
                <div class="span4 well">
                    <table class="invoice-head">
                        <tbody>
                            <tr>
                                <td class="pull-right"><strong>Klient #</strong></td>
                                <td> Nazwa Klienta </td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Faktura #</strong></td>
                                <td> 2340 </td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Czas zakupu </strong></td>
                                <td>10-08-2013</td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Koszt </strong></td>
                              <td> 20.00 $</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="jumbotron">
 
  <p>Brak zakupionych filmów</p>
  <p><a class="btn btn-primary btn-lg" href="{{ path('glowna') }}" role="button">Przeglądaj flimy</a></p>
</div>
{% endif %}



{% endblock %}
{#
{% extends '::base.html.twig' %}


    <h1>Zamowienie list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Filmid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('zamowienie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.data %}{{ entity.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.filmId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('zamowienie_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('zamowienie_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('zamowienie_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}#}
