{# rozwinięcie głownego layout #}
{% extends 'SklepBundle:Glowny:index.html.twig' %}
    {% block tytul %}Strona główna{% endblock %}
    {% block duzyTytul %}Strona główna{% endblock %}
    {% block malyTytul %}Wszystkie filmy{% endblock %}

{% block body -%}
    {% for entity in entities %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ entity.tytul }}</h3>
                <h4>Cena ${{ entity.cena }}</h4>
                <p>{{ entity.opis }} </p>
                <p> Aktorzy: {{ entity.aktorzy }}</p>
                <a class="btn btn-primary" href="{{ path('zamowienie_new', { 'id': entity.id }) }}">Zakup <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{#
{% block body -%}
    <h1>Film list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytul</th>
                <th>Cena</th>
                <th>Opis</th>
                <th>Aktorzy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tytul }}</td>
                <td>{{ entity.cena }}</td>
                <td>{{ entity.opis }}</td>
                <td>{{ entity.aktorzy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('film_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('film_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('film_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}